#btn {
    border-radius: 13px;
    width: 335px;
    height: 55px;
    background-color: #0637A8;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 80px;
}

#btn a {
    color: #fff;
    font-size: 20px;
}

#close {
    position: absolute;
    right: 20px;
    top: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
}